<!DOCTYPE html>
<html>
  <head>
    <title>Happy Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <%= user.name %>さん
    <a href="/c/<%= cid %>">画面更新</a>
    <a href="/c/<%= cid %>?r=y">名前変更</a>
    <div id="">

      <% if (q !== undefined) { %>
      <h2><%= q.q %></h2>
      <% if (answer !== undefined && answer !== null) { %>
      <div><%= q.c[answer] %> で投票されました</div>
      <% } %>

      <ul>
      <% for(var i in q.c) { %>
      <li><a href="?a=<%= i %>"><%= q.c[i] %></a></li>
      <% } %>
      </ul>
     <% } %>
    </div>
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect(location.protocol + '//' + location.host);
      if (socket !== undefined) {
      socket.on('event', function (ev) {
      if (ev.name === 'setq') {
      location.href = location.protocol + '//' + location.host + '/c/<%= cid %>'; }
      });}
    </script>
  </body>  
</html>
